<div className="d-flex align-items-center main" style="min-height: 100vh">
  <div className="container">
    <div className="row">
      <div className="col mx-auto" style="max-width: 400px">
        <div className="card styleCard">
          <div className="card-header">
            <h2 className="card-title d-inline-block styleCardTitle">Login</h2>
          </div>
          <div
            className="card-body"
            *ngIf="authWrapperService.enableLocalLogin$ | async; else disableLocalLoginTemplate"
          >
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <ng-template #disableLocalLoginTemplate>
      <div className="alert alert-warning">
        <strong>{{ 'AbpAccount::InvalidLoginRequest' | abpLocalization }}</strong>
        {{ 'AbpAccount::ThereAreNoLoginSchemesConfiguredForThisClient' | abpLocalization }}
      </div>
    </ng-template>
  </div>
</div>
