.main {
    min-height: 100vh;
    background: #f6fffd;
    }
    .styleCard {
    border: 3px solid #07ad90;
    }
    .card-header .styleCardTitle {
    color: #07ad90;
    font-size: 25px;
    font-weight: 600;
    }